input[type="file"] {
    display: none;
}

body {
    display: block;
}

/*Кнопка*/
#input_file {
    display: inline-block;
}
#trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#blood_buttom {
    display: block;
}
#trigger span {
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20pt;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    pointer-events: none;
}


