#папки
ML_modul/Bad_frames/
ML_modul/Dataset/
ML_modul/DifferentColorData/
ML_modul/LS_Backend/
ML_modul/labeling/
ML_modul/MyDataset/
ML_modul/special_venv/

#файлы
ML_modul/PBC_dataset_normal_DIB.zip
ML_modul/result.txt

#игнор
!ML_modul/labeling/export
!ML_modul/MyDataset/basophil/_copied_files.txt
!ML_modul/MyDataset/eosinophil/_copied_files.txt
!ML_modul/MyDataset/lymphocyte/_copied_files.txt
!ML_modul/MyDataset/monocyte/_copied_files.txt
!ML_modul/MyDataset/neutrophil/_copied_files.txt
!ML_modul/MyDataset/platelet/_copied_files.txt