@font-face {
    font-family: 'Local Fonts';
    src: local("RobotoSerif-Regular");
}

/* база */
* {
    margin: 0;
}
#content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

/* head */
#nav_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    max-width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}
#nameSite {
    font-size: 2.3rem;
    margin-right: auto;
    font-family: "RobotoSerif-Regular", Local Fonts;
    cursor: pointer;
    user-select: none;
}
#hub_link {
    padding-left: 10rem;
}
#navigation {
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    border-bottom: 0.1rem solid black;
    z-index: 998;
    flex-shrink: 0;
}
#avatar {
    height: 3rem;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
}

/* выдвигающиеся окно */
#win_nav {
    position: fixed;
    right: -20rem;
    transition: 0.2s right ease-in-out;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 20rem;
    border-left: 0.1rem solid black;
    box-sizing: border-box;
    background: white;
    z-index: 1000;
    gap: 1rem;
}
#win_nav.open {
    right: 0;
}

#win_title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    user-select: none;
    font-family: "RobotoSerif-Regular", Local Fonts;
}

#win_nav_avatar {
    height: 3rem;
    width: auto;
    border-radius: 50%;
    margin-left: auto;
    -webkit-user-drag: none;
}
#win_nav_cross {
    height: 2rem;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-drag: none;
}
#win_nav_name {
    font-size: 1rem;
}

#list_buttons {
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10rem;
}

.win_nav_buttons {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0rem;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-family: "RobotoSerif-Regular", Local Fonts;
}

.win_nav_buttons:hover {
    background-color: lightgray;
}
.win_nav_images {
    -webkit-user-drag: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 14%;
}

.menu_overlay {
    display: none;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.menu_overlay.active {
    display: block;
}

/* Canvas */
#body {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.2rem;
    padding: 3rem;
    height: 100%;
    box-sizing: border-box;
    min-height: 0;
}

/* Кнопка */
input[type="file"] {
    display: none;
}

#input_div {
    display: flex; /* Меняем на flex */
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Центрируем все элементы */
    gap: 3rem;
    width: 100%;
}

#input_file {
    display: inline-block;
}

#trigger {
    position: relative;
    display: grid;
    place-items: center;
    text-decoration: none;
    cursor: pointer;
}

#blood_buttom {
    display: block;
}

#trigger span {
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: "RobotoSerif-Regular", Local Fonts;
    font-size: 20pt;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    pointer-events: none;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
}

/* Описание кнопки */
#description {
    display: grid;
    align-content: center;
    height: 400px;
    width: 400px;
    padding: 3rem;
    border-left: 0.2rem solid black;
    box-sizing: border-box;
}

.text_description {
    font-family: "RobotoSerif-Regular", Local Fonts;
    color: black;
    font-size: 14pt;
}

/* Краткие обзоры недавних изображений и изменений */
#brief_summaries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    min-height: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#past_images, #past_changes {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Заголовок, контент, ссылка */
    min-height: 0;
    height: 100%;
    overflow: hidden;
    gap: 0.5rem;
}

.title_summary {
    text-align: center;
}

.title_summary_text {
    font-family: "RobotoSerif-Regular", Local Fonts;
    color: black;
    font-size: 14pt;
}

.grid_summary {
    min-height: 0;
    background-color:darkgrey;
    overflow-y: auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
    gap: 0.5rem;
}

.link_summary {
    
}

.link_summary_text {
    font-family: "RobotoSerif-Regular", Local Fonts;
    color: black;
    font-size: 10pt; 
    cursor: pointer;
}

/*Контейнер последних изображения*/
.container_image {
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 100;
    background-color:white;
    border-radius: 0.3rem;
    margin: 0.4rem;
    overflow: hidden;
    cursor: pointer;
}

.container_image_img {
    width: auto;
    height: 100%;
}

.container_image_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.container_image_info_span {
    font-family: "RobotoSerif-Regular", Local Fonts;
    color: black;
    font-size: 12pt; 
}

/* Контейнер последних изменений */
.container_change {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 5rem;
    width: 100;
    background-color:white;
    border-radius: 0.3rem;
    margin: 0.4rem;
    overflow: hidden;
    cursor: pointer;
}

.container_change_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.container_change_info_span {
    font-family: "RobotoSerif-Regular", Local Fonts;
    color: black;
    font-size: 12pt; 
}
