@font-face {
    font-family: 'Local Fonts';
    src: local("RobotoSerif-Regular");
}

/* база */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
#content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

/* head */
#nav_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    max-width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}
#nameSite {
    font-size: 2.3rem;
    margin-right: auto;
    font-family: "RobotoSerif-Regular", Local Fonts;
    cursor: pointer;
    user-select: none;
}
#hub_link {
    padding-left: 10rem;
}
#navigation {
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    border-bottom: 0.1rem solid black;
    z-index: 998;
    flex-shrink: 0;
}
#avatar {
    height: 3rem;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
}

/* выдвигающиеся окно */
#win_nav {
    position: fixed;
    right: -20rem;
    transition: 0.2s right ease-in-out;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 20rem;
    border-left: 0.1rem solid black;
    box-sizing: border-box;
    background: white;
    z-index: 1000;
    gap: 1rem;
}
#win_nav.open {
    right: 0;
}

#win_title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    user-select: none;
    font-family: "RobotoSerif-Regular", Local Fonts;
}

#win_nav_avatar {
    height: 3rem;
    width: auto;
    border-radius: 50%;
    margin-left: auto;
    -webkit-user-drag: none;
}
#win_nav_cross {
    height: 2rem;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-drag: none;
}
#win_nav_name {
    font-size: 1rem;
}

#list_buttons {
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10rem;
}

.win_nav_buttons {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0rem;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-family: "RobotoSerif-Regular", Local Fonts;
}

.win_nav_buttons:hover {
    background-color: lightgray;
}
.win_nav_images {
    -webkit-user-drag: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 14%;
}

.menu_overlay {
    display: none;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.menu_overlay.active {
    display: block;
}

/* Result */
#body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}
#statistics {
    display: flex;
    flex-direction: column;
    width: 76rem;
    min-height: 100%;
    padding: 1rem;
    gap: 1rem;
    padding-bottom: 5rem;
}

/* Титульник статистики */
#title_stat {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#image_stat {
    width: 25rem;
    height: auto;
    margin-left: auto;
}
#header_stat {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: auto;
    height: auto;
}
.text_stat {
    font-family: "RobotoSerif-Regular", Local Fonts;
    color: black;
}
#title_name_div_stat {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 2rem;
}
#title_name_stat {
    font-family: "RobotoSerif-Regular", Local Fonts;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}
/* Тело статистики */
#body_stat {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    gap: 3rem;
}

/*Таблицы*/
table {
    width: 100%;
    border-collapse: collapse;
    border: 0.1rem solid black;
    font-family: "RobotoSerif-Regular", Local Fonts;
    justify-content: center;
    margin: 0 auto;
}
tfoot {
    background-color: SteelBlue;
}
thead {
    background-color: SteelBlue;
    font-weight: bold;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: center;
  text-align: center;
}
caption {
    font-family: "RobotoSerif-Regular", Local Fonts;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    margin: 1rem 0rem;
    margin-top: 3rem;
}

/*Диаграмма*/
#leukocyte_formula {
    display: flex;
    flex-direction: column;
    width: auto;
}
#diagram {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin: 3rem 0rem;
}
#diagram_leykocyte {
    width: 30rem;
    height: auto;
}
#history_diagram {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.button_cell_title {
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: "RobotoSerif-Regular", Local Fonts;
}
.circle_cell {
    width: 1rem;
    height: auto;
    margin-left: 0.2rem
}

#confidence {

}

#comments {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 20rem;
    
}
textarea {
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    border: 0.1rem solid #ccc;
    font-size: 1rem;
    font-family: "RobotoSerif-Regular", Local Fonts;
    resize: none;
    padding: 0.5rem;
}
textarea:focus {
    border-color: black;
}
#title_commets_stat {
    font-size: 1.2rem;
    font-family: "RobotoSerif-Regular", Local Fonts;
    font-weight: bold;
    text-align: left;
    margin: 3rem 0rem;
    margin-right: auto;
}

#buttons_stat {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
}

#delete_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem; 
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: white;
    border: 0.2rem solid crimson;
    border-radius: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}
#delete_button:hover {
    background-color: crimson;
}
#delete_button:hover #delete_btn_title {
    color: white;
}
#delete_btn_title {
    color: black;
    font-size: 1.5rem;
    font-family: "RobotoSerif-Regular", Local Fonts;
    user-select: none;
}

#save_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem; 
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    border: 0.2rem solid darkgreen;
    box-sizing: border-box;
    cursor: pointer;
}
#save_button:hover{
    background-color: darkgreen;
}
#save_button:hover #save_btn_title {
    color: white;
}
#save_btn_title {
    color: black;
    font-size: 1.5rem;
    font-family: "RobotoSerif-Regular", Local Fonts;
    user-select: none;
}

#install_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem; 
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    border: 0.2rem solid darkgreen;
    box-sizing: border-box;
    cursor: pointer;
}
#install_button:hover{
    background-color: darkgreen;
}
#install_button:hover #install_btn_title {
    color: white;
}
#install_btn_title {
    color: black;
    font-size: 1.5rem;
    font-family: "RobotoSerif-Regular", Local Fonts;
    user-select: none;
}

#change_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem; 
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    border: 0.2rem solid Coral;
    box-sizing: border-box;
    cursor: pointer;
}
#change_button:hover{
    background-color: Coral;
}
#change_button:hover #change_btn_title {
    color: white;
}
#change_btn_title {
    color: black;
    font-size: 1.5rem;
    font-family: "RobotoSerif-Regular", Local Fonts;
    user-select: none;
}
